{% extends 'tysk/index.html' %}
{% load static %}
{% block title %}Тиск - Пацієнти{% endblock %}
{% block header %}
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">
      <div class="container no-shadow">
        <h1 class="text-center">Список пацієнтів</h1>
        <p class="lead text-center">Бажаємо Вам здоров`я!</p>
      </div>
    </header>
    <!-- END Site header -->
{% endblock %}
{% block content %}
    <!-- Main container -->
    <main>
      <!--  -->
      <section>
          <div class="container login-block">
          {% if user.is_authenticated %}
            {% if patient_list %}
                <img src="{% static 'tysk/img/logo.jpg' %}" id="click-me" alt="">
                <h5></h5>
                <p>
                {% for patient_item in patient_list %}
                    <p>
                        <a class="col-sm-12 col-sm-8" href="{% url 'tysk:patient-detail' patient_item.id %}">
                            {{ patient_item.user.last_name }}</a>
                        <span class="col-xs-12 col-sm-2">
                            <a class="btn btn-success btn-outline btn-xs" href="{% url 'tysk:patient-update' patient_item.id %}">
                                Змінити
                            </a>
                        </span>
                        <span class="col-xs-12 col-sm-2">
                            <a class="btn btn-danger btn-outline btn-xs" href="{% url 'tysk:patient-delete' patient_item.id %}">
                                Видалити
                            </a>
                        </span>
                    </p>
                {% endfor %}
                </p>
            {% else %}
                <img src="{% static 'tysk/img/sad.jpg' %}" id="click-me" alt="">
                <p>Немає доступних пацієнтів.</p>
            {% endif %} {# {% if patient_list %} #}
          {% else %}
            <header class="section-header">
                <span>Ви не ввійшли</span>
            </header>
        {% endif %} {# {% if user.is_authenticated %} #}
          </div>
      </section>
    </main>
    <!-- END Main container -->
{% endblock content %}
</body>
