{% extends 'tysk/index.html' %}
{% load static %}
{% block title %}Тиск - Головна - Список{% endblock %}
{% block header %}
    <!-- Site header -->
{#    <header class="page-header bg-img size-lg" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">#}
    <header class="page-header bg-img">
      <div class="container no-shadow">
        <h4 class="text-center">Головний список</h4>
        <p class="lead text-left">Фільтр
            {{ form }}
            Бажаємо Вам здоров`я!</p>
      </div>
    </header>
    <!-- END Site header -->
{% endblock %}
{% block content %}
    <!-- Main container -->
    <main>
      <!--  -->
      <section style="padding: 4px 2px">

          <div class="container login-block">
            {% if user.is_authenticated %}
                {% for patient in patients %}
                    <a href="?patient={{ patient.id }}">{{ patient }}</a>
                {% endfor %}
            {% if main_list %}


                <span id="result">
                    {% for main_item in main_list %}
                    <a class="col-xs-10 col-sm-10" href="{% url 'tysk:main-detail' main_item.id %}" title="{{ main_item.medicament }}">
                        <span class="col-xs-2 col-sm-2"> {{ main_item.patient }} </span>
                        <span class="col-xs-2 col-sm-2"> {{ main_item.doctor }} </span>
                        <span class="col-xs-2 col-sm-2">{{ main_item.date|date:'d.m.Y' }} </span>
                        <span class="col-xs-2 col-sm-2">{{ main_item.time }}</span>
                        <span class="col-xs-2 col-sm-2" title="Верхній, нижній та пульс">{{ main_item.upper }} {{ main_item.lower }} {{ main_item.pulse }}</span>

                    </a>
                    <span class="col-xs-2 col-sm-1">
                        <a class="btn btn-success btn-outline btn-xs" href="{% url 'tysk:main-update' main_item.id %}">
                            Змінити
                        </a>
                    </span>
                    <span class="col-xs-2 col-sm-1">
                        <a class="btn btn-danger btn-outline btn-xs" href="{% url 'tysk:main-delete' main_item.id %}">
                            Видалити
                        </a>
                    </span>
                {% endfor %}
{#                {% show_more %}#}
                {% if is_paginated %}
                    <nav aria-label="Mains pagination" class="mb-4">
                        <ul class="pagination">
                          {% if page_obj.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                          {% else %}
                            <li class="page-item disabled">
                              <span class="page-link">Previous</span>
                            </li>
                          {% endif %}

                          {% for page_num in paginator.page_range %}
                            {% if page_obj.number == page_num %}
                              <li class="page-item active">
                                <span class="page-link">
                                  {{ page_num }}
                                  <span class="sr-only">(current)</span>
                                </span>
                              </li>
                            {% else %}
                              <li class="page-item">
{#                                <button class="page-link"#}
{#                                   href="?page={{ page_num }}{{ part_ajax_page_link }}" onclick="">#}
{#                                   href="?page_ajax={{ page_num }}{{ part_ajax_page_link }}"#}
{#                                   onclick="js_paginator({{ page_num }}, {{ patient_filter }})">#}
{#                                    {{ page_num }}#}
{#                                </button>#}
                                  {% if is_patient_filter %}
                                      <a class="page-link"
                                         href="?page={{ page_num }}&patient={{ request.session.patient_filter }}">
                                          {{ page_num }}
                                      </a>
                                  {% else %}
                                      <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                  {% endif %}
                              </li>
                            {% endif %}
                          {% endfor %}

                          {% if page_obj.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page_ajax={{ page_obj.next_page_number }}">Next</a>
                            </li>
                          {% else %}
                            <li class="page-item disabled">
                              <span class="page-link">Next</span>
                            </li>
                          {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                </span>
{#                <span id="result">    {% include page_template %}</span>#}

{#                {% include 'tysk/includes/pagination.html' %}#}
            {% else %}
                <img src="{% static 'tysk/img/sad.jpg' %}" id="click-me" alt="">
                <p>Немає даних.
            {% endif %}
            {% else %}
                <header class="section-header">
                    <span>Ви не ввійшли</span>
                </header>
            {% endif %} {# {% if user.is_authenticated %} #}
          </div>
      </section>
      <div class="container login-links">
        <p class="text-center"><a href="{% url 'tysk:index' %}">На початкову</a></p>
      </div>
    </main>
    <!-- END Main container -->
{% endblock content %}
</body>
{% block script %}
    {{ block.super }}
    <script>
        var data = {"filter_value":'', "page": '1'};
        var data_click = {"page_ajax": "1", "filter_value": $('#id_patient option:selected').val()};
        console.log('before data_click.filter_value:');
        console.log(data_click.filter_value);
        if (typeof data_click.filter_value == 'undefined'){data_click.filter_value = ''}
        console.log(data_click.filter_value);
        $(function () {
    {#            изменение #}
        $('#id_patient').on("change", function () {
    {#                alert(data.order);#}
            data.filter_value = this.value;
            console.log('data.filter_value', data.filter_value);
            data.page = '1';
            $.get("{% url 'tysk:mains-list' %}", data, filterVal, "json");
        });
        function filterVal (patient_list_ajax) {
            $('#result').html(patient_list_ajax.html);
    {#        $("#what_search").text(employees_list_ajax.search);#}
    {#        $("#what_sort").text(employees_list_ajax.order);#}
        }
        });
        function js_paginator(page_num, patient_filter) {
            data_click.page_ajax = page_num;
            data_click.filter_value = patient_filter;

            if (typeof patient_filter != 'undefined'){
                console.log('patient_filter != undefined');
                $.get("{% url 'tysk:mains-list' %}?page_ajax="+page_num+"&filter_value="+patient_filter,
                    data_click, filterValPaginator, "json");}
            else
            {
                console.log('patient_filter == undefined!');
                $.get("{% url 'tysk:mains-list' %}?page="+page_num+"&page_ajax="+page_num,
                    data_click, filterValPaginator, "json");}
            {#$.get("{% url 'tysk:mains-list' %}?filter_value="+patient_filter, data_click, filterValPaginator, "json");#}
        }
        function filterValPaginator (patient_list_ajax) {
            $('#result').html(patient_list_ajax.html);
            console.log("in function filterValPaginator");
            alert("in function filterValPaginator");
    {#        $("#what_search").text(employees_list_ajax.search);#}
    {#        $("#what_sort").text(employees_list_ajax.order);#}
        }
    </script>
{#    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>#}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({
            onClick: function(context) {
                console.log('Label:', $(this).text());
                console.log('URL:', context.url);
                console.log('Querystring key:', context.key);
                if (forbidden) {  // to be defined...
                    return false;
                }
            },
            onCompleted: function(context, fragment) {
                console.log('Label:', $(this).text());
                console.log('URL:', context.url);
                console.log('Querystring key:', context.key);
                console.log('Fragment:', fragment);
            }
        });</script>
{% endblock %}
