{% extends 'tysk/index.html' %}
{% load static %}
{% block title %}Тиск - Головна - Список{% endblock %}
{% block header %}
    <!-- Site header -->
{#    <header class="page-header bg-img size-lg" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">#}
    <header class="page-header bg-img">
      <div class="container no-shadow">
        <h4 class="text-center">Головний список</h4>
        <p class="lead text-left">Фільтр
            {{ form }}
            Бажаємо Вам здоров`я!</p>
      </div>
    </header>
    <!-- END Site header -->
{% endblock %}
{% block content %}
    <!-- Main container -->
    <main>
      <!--  -->
      <section style="padding: 4px 2px">

          <div class="container login-block">
            {% if user.is_authenticated %}
            {% if main_list %}


                <span id="result">    {% include 'tysk/includes/list_ajax.html' %}</span>
{#                <span id="result">    {% include page_template %}</span>#}

{#                {% include 'tysk/includes/pagination.html' %}#}
            {% else %}
                <img src="{% static 'tysk/img/sad.jpg' %}" id="click-me" alt="">
                <p>Немає даних.
            {% endif %}
            {% else %}
                <header class="section-header">
                    <span>Ви не ввійшли</span>
                </header>
            {% endif %} {# {% if user.is_authenticated %} #}
          </div>
      </section>
      <div class="container login-links">
        <p class="text-center"><a href="{% url 'tysk:index' %}">На початкову</a></p>
      </div>
    </main>
    <!-- END Main container -->
{% endblock content %}
</body>
{% block script %}
    {{ block.super }}
    <script>
        var data = {"filter_value":''};
        var data_click = {"page": "1", "filter_value": $('#id_patient').value};
        $(function () {
    {#            изменение #}
        $('#id_patient').on("change", function () {
    {#                alert(data.order);#}
            data.filter_value = this.value;
            $.get("{% url 'tysk:mains-list' %}", data, filterVal, "json");
        });
        function filterVal (patient_list_ajax) {
            $('#result').html(patient_list_ajax.html);
    {#        $("#what_search").text(employees_list_ajax.search);#}
    {#        $("#what_sort").text(employees_list_ajax.order);#}
        }
        });
        function js_paginator(page_num, patient_filter) {
            {#var url;#}
            {#$.get("{% url 'tysk:mains-list' %}?page="+page_num+"&filter_value="+patient_filter, data_click, filterValPaginator, "json");#}
            $.get("{% url 'tysk:mains-list' %}?filter_value="+patient_filter, data_click, filterValPaginator, "json");
        }
        function filterValPaginator (patient_list_ajax) {
            $('#result').html(patient_list_ajax.html);
    {#        $("#what_search").text(employees_list_ajax.search);#}
    {#        $("#what_sort").text(employees_list_ajax.order);#}
        }
    </script>
{#    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>#}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({
            onClick: function(context) {
                console.log('Label:', $(this).text());
                console.log('URL:', context.url);
                console.log('Querystring key:', context.key);
                if (forbidden) {  // to be defined...
                    return false;
                }
            },
            onCompleted: function(context, fragment) {
                console.log('Label:', $(this).text());
                console.log('URL:', context.url);
                console.log('Querystring key:', context.key);
                console.log('Fragment:', fragment);
            }
        });</script>
{% endblock %}
