{% extends 'tysk/index.html' %}
{% load static %}
{% block title %}Тиск - {{ model_title }} - {{ title }}{% endblock %}
{% block header %}
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">
      <div class="container no-shadow">
        <h1 class="text-center">{{ model_title }}, {{ title|lower }}</h1>
        <p class="lead text-center">{{ object.name }}</p>
      </div>
    </header>
    <!-- END Site header -->
{% endblock %}
{% block content %}
<main>
    <div class="container login-block">
        <img src="{% static 'tysk/img/logo.jpg' %}" id="click-me" alt="">

        <h5></h5>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="" method="post">{% csrf_token %}
            <p>видалити "{{ object }}"?</p>
            <input class="btn btn-danger" type="submit" value="Згода" />
        </form>
    </div>

  <div class="container login-links">
    <p class="text-center"><a href="{% url 'tysk:index' %}">На початкову</a></p>
  </div>
</main>
{% endblock content %}
