{% extends 'tysk/static_add.html' %}
{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Тиск{% endblock %}
{% block css %}
    {{ block.super }}

{% endblock css %}
{% block body1 %}
    <body class="nav-on-header">
{% endblock body1 %}
{% block nav_bar %}
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle"  href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
                <div class="logo-wrapper">
                    <a style="color: #ffffff" class="logo" href="{% url 'tysk:index' %}">Тиск</a>
                    <a style="color: #ffffff" class="logo-alt" href="{% url 'tysk:index' %}">Тиск</a>
                </div>
            </div>
            <!-- END Logo -->
            <!-- User account -->
            <div class="pull-right logo-wrapper">
                <a href="{% url 'tysk:login' %}?next={% url 'tysk:index' %}">Вхід</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'tysk:register' %}"> | Регістрація</a><br>
                    <span style="color: #ffffff">{{ user.last_name }}</span><span style="color: #f0f0f0"> - на сайті</span>
                {% else %}
                    <span style="color: #101010">або</span> <a style="color: #ffffff" href="{% url 'tysk:register' %}">регістрація</a>
                {% endif %}
            </div>
            <!-- END User account -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>
                    {% if active == 'index' %}
                        <a class="active" href="{% url 'tysk:index' %}">На початкову</a>
                    {% else %}
                        <a href="{% url 'tysk:index' %}">На початкову</a>
                    {% endif %}
                </li>
{#                {% if user.is_superuser %}#}
                {% if user.is_authenticated %}
                <li>
                    {% if active in 'patients-listpatient-detailpatient-addpatient-updatepatient-confirm-delete' %}
                        <a class="active" href="#">Пацієнти</a>
                    {% else %}
                        <a href="#">Пацієнти</a>
                    {% endif %}
                    <ul>
                        {% if active == 'patients-list' %}
                            <li><a class="active" href="{% url 'tysk:patients-list' %}">Список</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:patients-list' %}">Список</a> </li>
                        {% endif %}
                        {% if active == 'patient-detail' %}
                            <li disabled="disable"><a class="active" href="#" disabled="disable">Детально</a> </li>
                        {% else %}
                            <li disabled="disable"><a href="#" disabled="disable">Детально</a> </li>
                        {% endif %}
                        {% if active == 'patient-add' %}
                            <li><a class="active" href="{% url 'tysk:patient-add' %}">Додати</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:patient-add' %}">Додати</a> </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    {% if active in 'doctors-listdoctor-detaildoctor-adddoctor-updatedoctor-confirm-delete' %}
                        <a class="active" href="#">Лікарі</a>
                    {% else %}
                        <a href="#">Лікарі</a>
                    {% endif %}
                    <ul>
                        {% if active == 'doctors-list' %}
                            <li><a class="active" href="{% url 'tysk:doctors-list' %}">Список</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:doctors-list' %}">Список</a> </li>
                        {% endif %}
                        {% if active == 'doctor-detail'%}
                            <li><a class="active" href="#">Детально</a> </li>
                        {% else %}
                            <li><a href="#">Детально</a> </li>
                        {% endif %}
                        {% if active == 'doctor-add'%}
                            <li><a class="active" href="{% url 'tysk:doctor-add' %}">Додати</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:doctor-add' %}">Додати</a> </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    {% if active in 'mains-listmain-detailmain-addmain-updatemain-confirm-delete' %}
                        <a class="active" href="#">Головна</a>
                    {% else %}
                        <a href="#">Головна</a>
                    {% endif %}
                    <ul>
                        {% if active == 'mains-list' %}
                            <li><a class="active" href="{% url 'tysk:mains-list' %}">Список</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:mains-list' %}">Список</a> </li>
                        {% endif %}
                        {% if active == 'main-detail'%}
                            <li><a class="active" href="#">Детально</a> </li>
                        {% else %}
                            <li><a href="#">Детально</a> </li>
                        {% endif %}
                        {% if active == 'main-add'%}
                            <li><a class="active"  href="{% url 'tysk:main-add' %}">Додати</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:main-add' %}">Додати</a> </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    {% if active in 'medicaments-listmedicament-detailmedicament-addmedicament-updatemedicament-confirm-delete' %}
                        <a class="active" href="#">Ліки</a>
                    {% else %}
                        <a href="#">Ліки</a>
                    {% endif %}
                    <ul>
                        {% if active == 'medicaments-list' %}
                            <li><a class="active" href="{% url 'tysk:medicaments-list' %}">Список</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:medicaments-list' %}">Список</a> </li>
                        {% endif %}
                        {% if active == 'medicament-detail'%}
                            <li><a class="active" href="#">Детально</a> </li>
                        {% else %}
                            <li><a href="#">Детально</a> </li>
                        {% endif %}
                        {% if active == 'medicament-add'%}
                            <li><a class="active" href="{% url 'tysk:medicament-add' %}">Додати</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:medicament-add' %}">Додати</a> </li>
                        {% endif %}

                    </ul>
                </li>
{#                {% endif %} {# user.is_superuser #}

                    <li>
                        <a href="#">Користувач</a>
                        <ul>
                            <li><a href="{% url 'tysk:user-change-pass-old' user.id %}">Змінити пароль</a> </li>
                            <!--li><a href="{% url 'tysk:user-reset-password' user.id %}">Скинути пароль, якщо забули</a> </li-->
                            <li><a href="{% url 'tysk:logout' %}">Вихід</a> </li>
                        </ul>
                    </li>
                {% endif %} {# {% if user.is_authenticated %} #}
                <li>
                    {% if active == 'about' or active == 'contact' or active == 'faq' %}
                        <a class="active" href="#">Про...</a>
                    {% else %}
                        <a href="#">Про...</a>
                    {% endif %}
                    <ul>
                        {% if active == 'about' %}
                            <li><a class="active" href="{% url 'tysk:about' %}">Про...</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:about' %}">Про...</a> </li>
                        {% endif %}
                        {% if active == 'contact' %}
                            <li><a class="active" href="{% url 'tysk:contact' %}">Контакти</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:contact' %}">Контакти</a> </li>
                        {% endif %}
                        {% if active == 'faq' %}
                            <li><a class="active" href="{% url 'tysk:faq' %}">Питання</a> </li>
                        {% else %}
                            <li><a href="{% url 'tysk:faq' %}">Питання</a> </li>
                        {% endif %}

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END Navigation bar -->
{% endblock nav_bar %}
{% block header %}
    <!-- Site header -->
    <header class="site-header size-lg text-center" style="background-image: url({% static 'tysk/img/bg-banner1.jpg' %})">
      <div class="container">
        <div class="col-xs-12">
          <br>
          <h2>Ми маємо <mark>1,259 </mark> користувачів зараз!</h2>
          <h5 class="font-alt">Знайти за одну хвилину</h5>
          <br>
            <div class="container">
              <form action="{% url 'tysk:index' %}" method="post">
                  {% csrf_token %}
                  <div class="error form-group col-xs-12 col-sm-12">
                      {{ main_form.non_field_errors }}
                  </div>
                  <div class="form-group col-xs-12 col-sm-4">
                      {{ main_form.upper.errors }}
                      <input class="form-control" name="upper" type="text" placeholder="Тиск верхній" title="Тиск верхній" value="{{ upper }}">
                  </div>

                  <div class="form-group col-xs-12 col-sm-4">
                      {{ main_form.lower.errors }}
                      <input name="lower" type="text" class="form-control" placeholder="Нижній" title="Тиск нижній" value="{{ lower }}">
                  </div>

                  <div class="form-group col-xs-12 col-sm-4">
                      {% if not main_form.is_valid and main_form.errors and not main_form.upper.errors and not main_form.lower.errors and not main_form.email.errors %}
                          <ul class="errorlist"><li></li></ul>
                      {% endif %}
                      {{ main_form.pulse.errors }}

                      <input name="pulse" type="text" class="form-control" placeholder="Пульс" value="{{ pulse }}" title="Пульс">
                  </div>

                  <div class="col-xs-12 col-sm-4">
                      {% if not main_form.is_valid and main_form.errors and main_form.email.errors %}
                          <ul class="errorlist"><li></li></ul>
                      {% endif %}
                      <button name="send_email" class="btn btn-block btn-primary" type="submit">Надіслати на вказаний email</button>
                      <!--a href="doctor-list.html">Ще</a-->
                  </div>
                  <div class="input-location col-xs-12 col-sm-4">
                    {{ main_form.email.errors }}
                      {% if user.is_authenticated %}
                          <input name="email" type="text" class="form-control" placeholder="Ваша email адреса" value="{{ user.email }}">
                      {% else %}
                          <input name="email" type="text" class="form-control" placeholder="Ваша email адреса" value="{{ email }}">
                      {% endif %}
                  </div>
                  <div class="btn-search col-xs-12 col-sm-4">
                      {% if not main_form.is_valid and main_form.errors %}
                          <ul class="errorlist"><li></li></ul>
                      {% endif %}
                      <button name="database_save" class="btn btn-block btn-primary" type="submit">Записати в профіль</button>
                      {% if user.is_authenticated %}
                          <span style="color: #ffffff">{{ user.last_name }}</span><span style="color: #f0f0f0"> - на сайті</span>
                      {% else %}
                          Щоб записати потрібен <a href="{% url 'tysk:login' %}?next={% url 'tysk:index' %}">Вхід</a>
                          <!--a href="{% url 'tysk:register' %}"> | Регістрація</a><br-->
                          <span style="color: #101010">або</span> <a style="color: #ffffff" href="{% url 'tysk:register' %}">регістрація</a>
                      {% endif %}
                  </div>
              </form>
            </div>
        </div>

      </div>
    </header>
    <!-- END Site header -->
{% endblock header %}
{% block content %}
    <!-- Main container -->
    <main>
        <section>
            <div class="container">
                {% if user.is_authenticated %}
                    <header class="section-header">
                        <span>Останнє</span>
                        <h2>Недавні вимірювання</h2>
                    </header>
                    {% if main_list %}
                        <div class="row item-blocks-connected">
                            {% for main in main_list %}
                                <!-- Job item -->
                                <div class="col-xs-12">
                                  <a class="item-block" href="{% url 'tysk:main-detail' main.id %}">
                                    <header>
                                        {{ main.date }}
                                        {{ main.time }}
                                      <div class="header-meta">
                                        <span class="label label-success"></span> <span>Верхній тиск: <strong>{{ main.upper }}</strong></span>
                                         </span><span class="label label-success"></span>
                                          <span> Нижній: <strong>{{ main.lower }}</strong></span> <span class="label label-success"></span>
                                         <span> Пульс: <strong>{{ main.pulse }}</strong> </span>
                                      </div>
                                    </header>
                                  </a>
                                </div>
                                <!-- END Job item -->
                            {% endfor %}
                        </div>
                        {% if user.is_superuser %}
                            <br><br>
                            <p class="text-center"><a class="btn btn-info" href="{% url 'tysk:mains-list' %}">Дивитися все</a></p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <header class="section-header">
                        <span>Ви не ввійшли</span>
                    </header>
                {% endif %}
            </div>
        </section>
        <!-- Newsletter -->
      <section class="bg-img text-center" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">
        <div class="container">
          <h2><strong>Підписатися</strong></h2>
          <h6 class="font-alt">Отримувати новини на Ваш поштовий ящик</h6>
          <br><br>
          <form class="form-subscribe" action="#">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Ваша eamil адреса">
              <span class="input-group-btn">
                <button class="btn btn-success btn-lg" type="submit">Підписатися</button>
              </span>
            </div>
          </form>
        </div>
      </section>
      <!-- END Newsletter -->
    </main>
    <!-- END Main container -->
{% endblock content %}
{% block footer %}
    <!-- Site footer -->
    <footer class="site-footer">
      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Про...</h6>
            <p class="text-justify">В світі та Україні продовжується боротьба з сецево-судинними захворюваннями. Дуже важливо в динаміці контролювати рівень артеріального тиску. Цей сайт дозволяє зберігати за будь-який проміжок часу тиск, пульс та ліки, які Ви чи Ваші близьки приймали. Це дає змогу Вашему лікарю оцінити ефективність терапії.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Сайт</h6>
            <ul class="footer-links">
              <li><a href="{% url 'tysk:about' %}">Про нас</a></li>
              <li><a href="{% url 'tysk:faq' %}">Центр допомоги</a></li>
              <li><a href="{% url 'tysk:contact' %}">Зв`жіться з нами</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Списки</h6>
            <ul class="footer-links">
                <li><a href="{% url 'tysk:patients-list' %}">Пацієнти</a></li>
                <li><a href="{% url 'tysk:doctors-list' %}">Лікарі</a></li>
                <li><a href="{% url 'tysk:medicaments-list' %}">Ліки</a></li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->
      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2017 All Rights Reserved by <a href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="{% provider_login_url "facebook" method="oauth2" %}"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->
    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
{% endblock footer %}
</body>