{% extends 'tysk/index.html' %}
{% load static %}
{% block title %}Тиск - Редагування користувача{% endblock %}
{% block header %}
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url({% static 'tysk/img/bg-banner2.jpg' %})">
      <div class="container no-shadow">
        <h1 class="text-center">Редагування користувача</h1>
        <p class="lead text-center">{{ user.last_name }} ({{ user.username }})</p>
      </div>
    </header>
    <!-- END Site header -->
{% endblock %}
{% block content %}
<main>
    <div class="login-block">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="" method="post">{% csrf_token %}
            {{ form_user.as_p }}
            <input type="submit" value="Зберегти" />
        </form>
    </div>

    <div class="login-links">
        <p class="text-center"><a href="{% url 'tysk:index' %}">На головну</a></p>
    </div>
</main>
{% endblock content %}
{% block script %}
    {{ block.super }}
{% endblock %}
</body>